@import '_variables';
@import '_keyframes';

.index-header{
    display: flex;
    align-items: center;
    width: 100vw;
    height: calc(100vh*120/1080);
    background-color: $dark-gray;

    .title{
        flex-basis: 65vw;
        display: flex;
        align-items: center;
        &__img{
            width: 8vh;
            border-radius: 100%;
            border: 0.5vh solid $white;
            margin-left: 7vw;
            animation: rotate-grow 1s ease-out;
        }
        &__text{
            user-select: none;
            color: $white;
            letter-spacing: 0.3vw;
            margin: 0 1em;
            font-family: 'Roboto', sans-serif;
            font-size: clamp(0.2rem, 2vw, 5rem);
            animation: shrink-fade 1s ease-out;
        }
    }

    &__navigation ul {
        flex-basis: 35vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        li{
            display: flex;
            align-items: center;
            .nav-link{
                cursor: pointer;
                user-select: none;
                line-height: 10vh;
                height: calc(100vh*120/1080);
                padding: 0 1em;
                font-family: 'Lato', sans-serif;
                font-size: clamp(0.7rem, 1vw, 4rem);
                color: $white;
                background-color: $dark-gray;
                border: none;
                white-space: nowrap;
                transition: 0.2s ease-out;
                &:hover{
                    font-weight: 700;
                    transform: translateY(-0.2em);
                }
                &:active{
                    transition: 0.1s ease-out;
                    transform: none;
                }
            }
            #home{
                background-color: $gray;
                text-decoration: underline;
            }
        }
    }
}

.welcome{
    height: calc(100vh*(1 - 120/1080));
    width: 100vw;
    display: flex;
    align-content: center;
    position: relative;
    overflow: hidden;
    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100vw;
        object-fit: cover;
    }
    .arrow{
        bottom: 3vh;
        left: 50vw;
        position: absolute;
        display: inline;
        width: clamp(1em, 3vw, 5em);
        transform: translateY(-50%);
        animation: up-down 0.5s infinite alternate ease-in-out;
        filter: opacity(0.7);
    }
    &__image{
        display: flex;
        height: 100%;
        align-content: center;
        flex-basis: 50vw;
        .minecraft-avatar{
            margin: auto clamp(1em, 5vw,20em) auto auto;
            height: fit-content;
            width: clamp(1em, 20vw,50em);
            animation: bottom-fade 0.9s ease-in-out;
        }
    }
    &__texts{
        align-self: center;
        align-content: center;
        flex-basis: 50vw;
        .text-header{
            color: $white;
            font-size: clamp(1rem, 2vw, 7rem);
            font-family: 'Lato', sans-serif;
            animation: right-fade 1s ease-out;
        }
        .text-default{
            margin-top: 2vh;
            color: $white;
            font-size: clamp(1rem, 2vw, 7rem);
            font-family: 'Lato', sans-serif;
            animation: right-fade 1.1s ease-in;
        }
        .highlight{
            color: $primary-color;
        }
    }
    
}

.intro{
    height: 60vh;
    width: 100vw;
    display: flex;
    align-content: center;
    overflow: hidden;
    &__texts{
        align-self: center;
        align-content: center;
        flex-basis: 35vw;
        margin-left: 20vw;
        .text-header{
            color: $dark-gray;
            font-size: clamp(0.8rem, 2vw, 7rem);
            font-family: 'Roboto', sans-serif;
            letter-spacing: .2vw;
            font-weight: 300;
        }
        .text-subheader{
            margin-top: 1em;
            color: $gray;
            font-size: clamp(0.6rem, 1.2vw, 7rem);
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            letter-spacing: .1vw;
            word-spacing: .2vw;
        }
        .text-default{
            margin-top: 1em;
            color: $gray;
            font-size: clamp(0.5rem, 0.9vw, 7rem);
            font-family: 'Lato', sans-serif;
            word-spacing: .3vw;
            letter-spacing: .05vw;
            line-height: clamp(0.5rem, 3.2vh, 6rem);
            
        }
        .highlight{
            color: $primary-color;
        }
    }
    .python-icon{
        height: 100%;
        margin-left: clamp(1em, 5vw,20em);
        width: clamp(10em, 20vw,50em);
    }
}

.detail{
    height: 70vh;
    width: 100vw;
    display: flex;
    background-color: $dark-gray;
    align-content: center;
    overflow: hidden;
}